div{
    background-color: rgba(7, 7, 7, 0.8);  
    border: solid black 1px;
}

div:hover{
  background-color: #2196F3;
}

input{
  display: block;
}

.hold{
  background-color: white;
  border: none;
}

#container{
  box-sizing: border-box;
  background-color: #2196F3;
  display: grid;
  width: 430px;
  height: 250px;
	border: solid 1px black;
}